<tetris-core
    #game
    [class.black-and-white]="bw"
    tileSize="20px"
    (lineCleared)="onLineCleared()"
    (gameOver)="onGameOver()"
>
</tetris-core>
<div class="game-control">
    <div class="game-state-control">
        <button (click)="game.actionStart()">Start</button>
        <button (click)="game.actionStop()">Stop</button>
        <button (click)="game.actionReset()">Reset</button>
    </div>
    <div class="block-control">
        <button (click)="game.actionLeft()">Left</button>
        <button (click)="game.actionDown()">Down</button>
        <button (click)="game.actionRight()">Right</button>
    </div>
    <div class="rotate-button">
        <button (click)="game.actionRotate()">Rotate</button>
    </div>
</div>